---
import BaseHead from "@/components/BaseHead.astro";
import Footer from "@/components/Footer.astro";
import Nav from "@/components/Nav.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "@/consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main>
      <h1>Weekly Progress</h1>
      <Nav />
    </main>
    <Footer />
  </body>
</html>
