---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

// Get all posts from the weeks collection, filter out files starting with _, sorted by week number
const posts = (await getCollection("weeks"))
  .filter((post) => !post.id.startsWith("_"))
  .sort((a, b) => a.data.week - b.data.week);
---

<nav>
  {
    posts.length > 0 ? (
      <ul>
        {posts.map((post) => (
          <li>
            <a href={`/weeks/${post.id}/`}>
              {post.data.heroImage && (
                <Image
                  width={720}
                  height={360}
                  src={post.data.heroImage}
                  alt=""
                />
              )}
              <h4 class="title">{post.data.title}</h4>
              <p class="week-info">Week {post.data.week}</p>
            </a>
          </li>
        ))}
      </ul>
    ) : (
      <p>No weeks available yet. Check back soon!</p>
    )
  }
</nav>
